* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

:root {
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #531253;
    --gray-light: #eaeaea;
    --white: #f4fffd;
    --gold: #d6af7c;

    --text-color: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background: black;
    color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #01020f;
    font-weight: 300;
}

/**/

.nombreEmpresa {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
}

.nombreEmpresa>div {
    grid-area: 1/1/-1/-1;
}

.top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
}

.main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    height: 100vh;
    width: 100%;
    background-image: url("https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg");
    background-size: 100% 100%;
    background-position: top;
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 250px;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 2.5s ease-in-out;
}

.main:hover .text {
    background-size: 80% 80%;
}

.bg {
    height: 100vh;
    width: 100%;
    background-image: url("https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg");
    background-size: 100% 100%;
    background-position: right;
    transform: rotateY(180deg);
    transition: all 2.5s ease-in-out;
}

.main:hover .bg {
    background-size: 150% 150%;
}

.subtitulo {
    top: 5%;
    left: 10%;
    color: #d6af7c;
    text-align: center;
    font-weight: 800;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.bg-hidden {
    top: -100%;
    opacity: 0;
}

.bg-visible {
    top: 0;
    opacity: 1;
}


h1 {
    text-align: center;
    font-family: Ubuntu;
    letter-spacing: 1px;
}

/**/

.topnav .login-container {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
}

.topnav .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #cea979;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .login-container button:hover {
    background: #ccc;
}

/**/
.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/*Tarjetas*/
.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}


h1 {
    font-size: 50px;
}


/* Header */
header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}


nav {
    width: 100%;
    height: 80px;
    background: transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;

}

.nav .logo img {
    height: 100%;
    vertical-align: top;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;

}

.enlaces-header a:hover {
    transform: translateY(18px);
    background-color: #d6af7c;

    color: var(--gray-light);
    text-decoration: none;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;

}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: white;
}

/*Enlaces header*/
.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #d6af7c;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);

}

.titulo {
    font-size: 50px;
}

/* About us */

.about-us {
    background: black;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 0.5s;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.articulo>i {
    font-size: 30px;
    color: #fff;
    background: #cea979;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(206, 169, 130, .46);
}

.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}

.articulo>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a {
    color: #cea979;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover {
    color: #cea979;
    transition: color .5s;
}

/* Questions */


.questions {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions>img {
    width: 550px;
}

.textos-questions {
    margin: 0 0 0 30px;
}

.textos-questions p {
    font-weight: 100;
    margin-top: 5px;
    color: hwb(218 89% 7%);
}


/*tercer boton*/
.textos-questions a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #d6af7c;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

/* Results */

.results {
    background: black;
    padding-top: 30px;
}

.conten-results {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbers .number {
    width: 45%;
    /*rgba(255, 255, 255, .2)*/
    background: white;
    color: black;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

/*numeros*/
.numbers .number h4 {
    color: black;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p {
    color: white;
    font-weight: 300;
}

.results-text {
    width: 37%;
}

.results-text h4 {
    color: #fff;
    font-size: 40px;
}

.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}


.results-text>a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #d6af7c;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}

/* Services */

.services {
    display: flex;
    justify-content: space-between;
}

.services>img {
    width: 500px;
}

.box-skills {
    margin: 30px 30px 0 0;
}

.box-skills h4 {
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i {
    color: #cea979;
    font-size: 20px;
}

/* footer */

footer {
    background: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
    text-align: center;
}

.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


.partFooter a:hover {
    color: #cea979;
}

.partFooter img {
    width: 70%;
}

.social-media i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid black;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}

.social-media i:hover {
    color: #fff;
    background-color: #cea979;
    border-color: #1FDE82;
}

/* Breakpoints responsive */

@media screen and (max-width:800px) {
    .titulo {
        font-size: 45px;
    }

    .contenido-header {
        flex-direction: column;
        justify-content: space-evenly;
        height: 720px;
    }

    .contenido-header>img {
        width: 400px;
    }

    .textos-header {
        margin: 0;
    }

    /* About us */

    .articulo {
        width: 45%;
    }

    /* Questions */

    .questions {
        height: 720px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .questions>img {
        width: 400px;
    }

    /* results */

    .conten-results {
        flex-direction: column-reverse;
    }

    .results-text>a {
        margin-bottom: 60px;
    }

    .numbers {
        width: 100%;
        /* justify-content: space-between; */
    }

    .results-text {
        width: 100%;
    }

    /* Services */

    .services {
        flex-direction: column-reverse;
        align-items: center;
    }

    .box-skills {
        margin: 0 0 40px 0;

    }

    .box-skills h4 {
        width: 500px;
    }

    .services>img {
        width: 400px;
    }

    /* Footer */

    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:600px) {
    .titulo {
        font-size: 35px;
    }

    h1 {
        font-size: 40px;
    }

    .contenido-header {
        height: 650px;
    }

    .nav {
        padding: 0 10px;
    }

    .contenido-header>img {
        width: 200px;
    }

    .enlaces-header {
        position: fixed;
        /* background: #cea979;*/
        border-radius: 50%;
        background: linear-gradient(#000046, #1cb5e0);
        /* fallback for old browsers */
        /* background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);*/
        /* Chrome 10-25, Safari 5.1-6 */
        /* background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);*/
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% at 100% 0);
    }

    .nav .menudos {

        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);

    }

    /*Color letra de los enlaces en la hamburguesa*/
    .nav .enlaces-header a {
        color: black;
    }

    .hamburguer {
        display: block;
    }

    /* About us */

    .articulo {
        width: 95%;
    }

    /* Questions */

    .questions>img {
        width: 200px;
    }

    /* results */

    .numbers .number {
        width: 95%;
    }

    .results-text h4 {
        font-size: 35px;
    }

    /* Services */

    .services>img {
        width: 200px;
    }

    .box-skills h4 {
        width: 100%;
    }

    /* Footer */
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }
}